- title "New Schedule"
- headline "New Schedule Based on #{@model.start}"
- subtitle "Hold Command (Ctrl) and select the shows to be copied to the new semester."

- content_for :sidebar do
  = render "form"

%script
  $(document).on("ready page:load", function(){
  $(".schedule").selectable({
  filter: ".show-non-rowskip",
  stop: function(){
  var result = {"FreeformShow": [], "SpecialtyShow": [], "TalkShow": []};
  $(".ui-selected").each(function() {
  result[$(this).attr("data-show-type")].push(parseInt($(this).attr("data-show-id")));
  })
  $("#shows_to_copy").val(JSON.stringify(result));
  }
  })
  });

%article.with-thin-sidebar
  = render @model, locals: {no_links: true}
