branches:
  only:
  - master
  - develop

env:
  global:
    - CC_TEST_REPORTER_ID=26a1fd96d414aa41611448e0418057a6081c5ebe742208ca8de2083699a32851

dist: trusty

language: ruby
rvm:
  - 2.5.0
cache:
  directories:
    - 'vendor/bundle'
    - '$HOME/.cache/yarn'

addons:
  chrome: stable
  postgresql: '9.6'

before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &

install: 'bin/setup'

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - bundle exec rspec

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
