$max-width: 1400px;

$blue: #3688cc;
$yellow: #ffcd01;
$yellow--dark: #ffa801;
$white: #fff;
$black: #252525;

$color-primary: $blue;
$color-accent: $yellow;
$color-accent--dark: $yellow--dark;

$font-sans: 'Rubik', sans-serif;
