.episode {
  margin: 16px 0;
  font-size: 19px;
  font-weight: 600;

  &__time-string {
    font-size: 12px;
    font-weight: 400;
    display: block;
  }

  &__dj-string {
    font-size: 14px;
    font-weight: 400;
    display: block;
  }
}

// Within playlist
.playlist .episode {
  margin: 22px 0;
  font-size: 22px;

  &__dj-string {
    font-size: 16px;
  }
}
