@import '_variables';

.max-width-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: $max-width;
}

.with-sidebar {
  &__container {
    display: flex;
    overflow: hidden;

    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__main {
    flex: 1;
    overflow: hidden;
    background-color: var(--white);
    color: var(--black);
    padding: 2rem;
  }

  &__sidebar {
    padding: 2rem 0;
    flex: 0 0 15rem;
  }
}

.card__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  button {
    font-size: 14px;
    margin-left: 6px;
  }
}
