@import '_variables';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  background-image: image-url('paisley.svg');
  background-blend-mode: overlay;
  color: var(--color-primary__contrast);
  font-family: $font-sans;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: rgba(var(--color-primary--rgb));
  --color-primary--dark: rgba(var(--color-primary--dark--rgb));
  --color-primary__contrast: rgba(var(--color-primary__contrast--rgb));

  --color-accent: rgba(var(--color-accent--rgb));
  --color-accent--dark: rgba(var(--color-accent--dark--rgb));
  --color-accent__contrast: rgba(var(--color-accent__contrast--rgb));

  --white: rgba(var(--white--rgb));
  --black: rgba(var(--black--rgb));
}

a:link {
  text-decoration: underline;

  .pt-menu & {
    text-decoration: none;
  }
}
