@import '_variables';
@import '_functions';

.playlist__form {
  .episode {
    margin-top: -2rem;
  }

  input[name='song[year]'] {
    width: 5em;
  }

  input[type='submit'] {
    width: 100%;
    margin-top: 12px;
  }
}

.song__flag {
  position: relative;
  direction: rtl;
  width: 30px;

  input[type='checkbox'] {
    position: absolute;
    right: 3px;

    &:focus {
      outline: var(--color-primary__contrast) auto 5px;
    }
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 20px;
    left: 0;
    width: 100%;
    height: 30px;
    border: 1px solid var(--color-primary__contrast);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: background-color 0.1s ease-out;
  }

  input[type='checkbox']:checked + &__background,
  input[type='checkbox']:focus + &__background {
    background-color: var(--color-primary__contrast);
  }
}

.form__group
  label:focus-within
  + .song__flag
  input:not(:checked)
  + .song__flag__background {
  background-color: css-rgba(var(--color-primary__contrast--rgb), 0.2);
}
