@import '_variables';
@import '_functions';

.playlist__form {
  .episode {
    margin-top: -2rem;
  }

  input[name='song[year]'] {
    width: 5em;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type='submit'] {
    width: 100%;
    margin-top: 12px;
  }
}

.song__flag {
  position: relative;
  direction: rtl;
  width: 32px;
  margin-left: 1px;

  input {
    position: absolute;
    right: 3px;
  }

  .pt-control-indicator {
    position: absolute;
    top: 29px;
    right: 8px;
  }

  input:focus ~ .pt-control-indicator {
    outline: none;
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 22px;
    left: 0;
    width: 100%;
    height: 30px;
    border: 1px solid var(--color-primary__contrast);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: background-color 0.1s ease-out;
  }

  input:checked ~ &__background,
  input:focus ~ &__background {
    background-color: var(--color-primary__contrast);
  }
}

label:focus-within + .song__flag input:not(:checked) ~ .song__flag__background {
  background-color: css-rgba(var(--color-primary__contrast--rgb), 0.2);
}
