.playlist-item--setbreak {
  position: relative;
}

hr.setbreak:after {
  content: 'Setbreak';
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  background-color: var(--white);
}
