=link_to dj do
  .dj.with-profile-pic
    %div
      = profile_picture dj
    %div
      %p
        %span#dj-name="#{dj}"
        - if dj_signed_in? || dj.real_name_is_public
          %span.subtitle.italic{style: "display:inline-table"}
            = " (#{dj.dj_name.blank? ? dj.name.split(' ')[1..-1]*' ' : dj.name})"
