- title "DJs"
- headline "WCBN DJs"

.djs-container
  - [["Active DJs", @active_djs], ["Trained DJs", @trained], ["DJs In Training", @trainees]].each do |name, group|
    .dj-column
      %h3=name
      - group.each do |dj|
        = render dj
