-# Episode names should be headers in the playlist, but this is overridable
-# because they should not be headers everywhere.
- tag ||= :h3

- haml_tag tag, class: 'episode' do
  %span.episode__time-string
    = episode.decorate.time_string # TODO
  = link_to episode.show.name, episode.show
  %span.episode__dj-string
    with
    = link_to episode.dj, episode.dj
