- limit ||= nil
.on-and-upcoming
  %h4.small-caps-title On Air:
  - if @on_air
    = render @on_air
  - else
    %p.alert There is no show currently scheduled.
  - if !on_fm_computer? || @standalone
    = render('episodes/shownotes', episode: @on_air) if @on_air
    %h4.small-caps-title Up Next:
    - upcoming_episodes = @future_items.select {|e| e.is_a? Episode}.reverse
    - upcoming_episodes = upcoming_episodes.take(limit) if limit
    - upcoming_episodes.each do |ep|
      = render ep
