- title "Events and Concerts"

%h3 Upcoming Events:
%table.events-list
  - @events.days.each do |date, events|
    %div.event-day
      %div.event-date
        %h1= l date, format: :long
        %hr
      %ul.events
      - events.each do |event|
        %li.event
          %h3= event.title
          %p= l event.beginning, format: :long
          %p= event.description


%p
  Events Information is brought to you by Current Magazine, Ann Arbor's
  entertainment monthly, available at many locations around town.
  %br
  Events Info can be heard daily in the morning at 1:30, 4:30, 7:30, and 10:30,
  and also at 1:30pm, 4:30pm, and 8:30pm right here on WCBN fm Ann Arbor.
