- path = song_path(song)
- can_bip = song.episode == @on_air && on_fm_computer?
%td.width1
  - if can_bip
    .delete-song=link_to '[x]', path, method: :delete, data: {confirm: "Are you sure you want to delete this song?"}
  .thin.time-col=song.at.strftime '%l:%M %P'
%td.width3=best_in_place_if can_bip, song, :artist, inner_class: "bip-sized", url: path
%td.width4<
  =best_in_place_if can_bip, song, :name, display_with: lambda {|str| '“' + str + '”' }, inner_class: "bip-sized", url: path
  %span.thin.accent=' (by request)' if song.request
%td.width3.italic=best_in_place_if can_bip, song, :album, inner_class: "bip-sized", url: path
%td.width2.thin=best_in_place_if can_bip, song, :label, inner_class: "bip-sized", url: path
%td.width1.thin=best_in_place_if can_bip, song, :year, inner_class: "bip-sized", url: path
