%td.width1
  .delete-song=link_to '[x]', song, method: :delete, data: {confirm: "Are you sure you want to delete this song?"}
  .thin.time-col=song.at.getlocal.strftime '%l:%M %P'
%td.width3=best_in_place song, :artist, inner_class: "bip-sized"
%td.width4<
  =best_in_place song, :name, display_with: lambda {|str| '“' + str + '”' }, inner_class: "bip-sized"
  %span.thin.accent=' (by request)' if song.request
%td.width3.italic=best_in_place song, :album, inner_class: "bip-sized"
%td.width2.thin=best_in_place song, :label, inner_class: "bip-sized"
%td.width1.thin=best_in_place song, :year, inner_class: "bip-sized"
