.with-sidebar__sidebar {
  :focus {
    outline-color: var(--color-primary__contrast);
  }
  a {
    color: var(--color-primary__contrast);
  }
}

.sidebar__item {
  margin: 12px 0;
  font-size: modular-scale(1);
  font-weight: 600;

  & > span {
    font-size: modular-scale(-1);
    font-weight: 400;
    display: block;
  }
}

.sidebar__info {
  font-size: modular-scale(0);
}

.sidebar__social-links {
  font-size: modular-scale(1);

  & > * {
    margin-right: 0.5em;
  }

  & a:link {
    text-decoration: none;
  }
}
