@import '../_variables';

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 3rem;

  & a {
    color: $white;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: -0.2px;
  }

  &__logo {
    display: flex;
    align-items: center;

    & .wcbn-logo {
      margin-right: 2rem;
    }
  }

  &__nav {
    & a {
      margin-left: 1.25rem;
    }
  }
}
