.user-nav {
  position: relative;
  padding: 0.5rem 0;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: right;

  & a {
    margin-left: 1rem;
  }

  &--inactive {
    position: absolute;

    & a {
      color: var(--color-accent) !important;
    }
  }

  &--active {
    background-color: var(--color-accent);
    border-bottom: 3px solid var(--color-accent--dark);

    & a {
      color: var(--color-accent__contrast) !important;
    }
  }

  :focus {
    outline-color: var(--color-accent__contrast);
  }
}
