- if defined?(locals) && locals[:no_links]
  .show_name=freeform_show.name
  .show_with="with #{freeform_show.dj}"
- else
  .show_name
    = link_to_most_recent_episode freeform_show
  .show_with
    with
    = link_to freeform_show.dj, freeform_show.dj
