- if defined?(locals) && locals[:no_links]
  .show_name=specialty_show.name
- else
  .show_name=link_to specialty_show.name, specialty_show
.show_with="#{specialty_show.djs.count} #{"DJ".pluralize(specialty_show.djs.count)} in rotation"
