- if defined?(locals) && locals[:no_links]
  .show_name=specialty_show.name
- else
  .show_name
    =link_to specialty_show.name, specialty_show
    -# TODO: check if the user has permissions to edit this show! If not, it's as follows
    -#= link_to_most_recent_episode specialty_show

.show_with="#{specialty_show.rotating_hosts.count} #{"DJ".pluralize(specialty_show.rotating_hosts.count)} in rotation"
