@mixin kicker {
  margin: 0 0 17px 0;
  font-size: modular-scale(0);
  font-weight: 500;
  line-height: 1.22;
  color: unset;

  &:not(:first-child) {
    margin-top: 50px;
  }
}

h1 {
  font-size: modular-scale(3);
}

strong {
  font-weight: 500;
}

.kicker,
.pt-running-text .kicker {
  @include kicker;
}

.pt-running-text {
  hyphens: auto;
}
