$icon-font-path: '~@blueprintjs/icons/resources/icons';

$pt-font-family: 'Rubik', sans-serif;
$pt-line-height: 1.22;

$pt-link-color: var(--color-primary--dark);

@import '~@blueprintjs/icons/src/blueprint-icons';
@import '~@blueprintjs/core/src/blueprint';

input[type='submit'].pt-button {
  padding: 5px 10px;
}

.pt-button {
  margin: 0;
}

.pt-callout-card {
  font-size: modular-scale(0);
}
