body {
  --color-primary: rgba(var(--color-primary--rgb), 1);
  --color-primary--dark: rgba(var(--color-primary--dark--rgb), 1);
  --color-primary__contrast: rgba(var(--color-primary__contrast--rgb), 1);

  --color-accent: rgba(var(--color-accent--rgb), 1);
  --color-accent--dark: rgba(var(--color-accent--dark--rgb), 1);
  --color-accent__contrast: rgba(var(--color-accent__contrast--rgb), 1);

  --white: rgba(var(--white--rgb), 1);
  --black: rgba(var(--black--rgb), 1);
}
