.dj__metadata {
  margin-bottom: 2em;
  position: relative;
}

.edit_dj {
  .pt-form-group {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.profile-pic {
  border-radius: 4px;
  height: 9em;
  margin-right: 1em;
  object-fit: cover;
  width: 9em;
}

.profile-pic.robot {
  height: 10em;
  width: 10em;
  margin: -1.3em 0.5em -1.3em -0.6em;
}

.dj__edit-profile-picture {
  align-items: center;
  display: flex;
  font-weight: normal;
  height: 9rem;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 9rem;

  transition: opacity 0.2s ease-out;
  &:hover,
  &:focus-within {
    opacity: 1;
  }

  input {
    left: -1000px;
    opacity: 0;
    position: absolute;
  }

  input:focus ~ .pt-button {
    outline: white auto 2px;
    outline-offset: 2px;
  }

  .pt-button {
    margin: 0 !important;
  }
}

.dj__name {
  h1 {
    margin: 0.25em 0 0;
    line-height: 1.1;
  }

  p {
    margin: 0;
    &.pt-button-group {
      margin-top: 10px;
    }
  }

  .row {
    margin-top: 1rem;
  }
}

.dj__edit-personal-info {
  background: rgba(white, 0.25);

  h2 {
    font-size: 140%;
    line-height: 1;
    margin-bottom: 0.25em;
  }
}

input[name='dj[umid]'] {
  width: 100px;
}

.dj__story {
  display: flex;
  justify-content: center;
}

.dj__biography {
  .pt-callout {
    margin-bottom: 2em;
  }

  &:last-child {
    margin: 0 10em;
  }
}

.dj__lists__container {
  flex-shrink: 0;
  height: 100%;
  width: 20em;
  margin-left: 2em;
  font-size: 90%;
}

@import '_typography';
.dj__lists{
  ul,
  ol {
    padding-left: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include kicker;
  }
}

.dj__show strong {
  display: block;
}

