.episode {
  margin: 16px 0;
  font-size: modular-scale(1);
  line-height: 1.22;
  font-weight: 600;
  color: unset;

  &:first-child {
    margin-top: 0;
  }

  &__time-string {
    font-size: modular-scale(-1);
    font-weight: 400;
    display: block;
  }

  &__dj-string {
    font-size: modular-scale(-1);
    font-weight: 400;
    display: block;
  }
}

// Within playlist
.playlist .episode {
  margin: 22px 0;
  font-size: modular-scale(2);

  &__dj-string {
    font-size: modular-scale(0);
  }
}

.show__episode {
  time {
    display: block;
    font-size: modular-scale(-1);
    margin-bottom: 1em;
  }

  &__meta a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
