label {
  font-size: modular-scale(0);
  font-weight: 500;
}

.form {
  &__row {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 6px;
    }

    input {
      display: block;
      width: 100%;
    }

    .pt-fill {
      flex: 1;
    }
  }

  &__group {
    & > *:not(:first-child) {
      input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    & > *:not(:last-child) {
      margin-right: 0;
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none !important;
      }
    }
  }
}

.with-sidebar__sidebar {
  input, textarea, select {
    border: 1px solid var(--color-primary__contrast);
    box-shadow: none;
    font-weight: 500;

    transition: background-color 0.1s ease-out;


    &:focus {
      outline: none;
    }
  }

  input:not([type='submit']),
  textarea,
  select {
    background: transparent;
    color: var(--color-primary__contrast);

    &:hover,
    &:active {
      background: transparent;
      box-shadow: none;
    }

    &:focus {
      box-shadow: none;
      background: css-rgba(var(--color-primary__contrast--rgb), 0.2);
    }
  }

  .pt-select::after {
    color: var(--color-primary__contrast);
  }

  .pt-control-group {
    & > *:not(:last-child) input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0 !important;
    }
  }

  option {
    color: black;
  }

  input[type='submit'],
  button {
    box-shadow: none;
    background: css-rgba(var(--color-primary__contrast--rgb), 0.8);
    color: var(--color-primary--dark);
    text-align: center;
    width: 100%;

    &:hover {
      box-shadow: none;
      background: css-rgba(var(--color-primary__contrast--rgb), 0.9);
      color: var(--color-primary--dark);
    }

    &:active {
      background: var(--color-primary__contrast);
    }

    &:focus {
      outline: var(--color-primary__contrast) 3px auto;
    }

    &:disabled {
      color: var(--color-primary);
      background: css-rgba(var(--color-primary__contrast--rgb), 0.5);
      outline: none;
    }
  }
}

.input--fill {
  flex: 1;
}

.form__errors {
  margin-bottom: 2em;
  ul {
    padding-left: 1.5em;
  }
}

.form__actions {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1em;

  * {
    margin-right: 0.5em;
  }
}
