label {
  font-size: modular-scale(0);
  font-weight: 500;
}

.form {
  &__row {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 6px;
    }

    input {
      display: block;
      width: 100%;
    }

    .pt-fill {
      flex: 1;
    }
  }

  &__group {
    & > *:not(:first-child) {
      input {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    & > *:not(:last-child) {
      margin-right: 0;
      input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none !important;
      }
    }
  }
}

.with-sidebar__sidebar {
  input {
    border: 1px solid var(--color-primary__contrast);
    box-shadow: none;
    font-weight: 500;

    transition: background-color 0.1s ease-out;

    &:not([type='submit']) {
      background-color: transparent;
      color: var(--color-primary__contrast);

      &:focus {
        box-shadow: none;
        background-color: css-rgba(var(--color-primary__contrast--rgb), 0.2);
      }
    }

    &:focus {
      outline: none;
    }
  }

  .pt-control-group {
    & > *:not(:last-child) input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0 !important;
    }
  }

  input[type='submit'],
  button {
    box-shadow: none;
    background: css-rgba(var(--color-primary__contrast--rgb), 0.8);
    color: var(--color-primary);

    &:hover {
      background: css-rgba(var(--color-primary__contrast--rgb), 0.9);
    }

    &:active {
      background: var(--color-primary__contrast);
    }

    &:focus {
      outline: var(--color-primary__contrast) 3px auto;
    }

    &:disabled {
      color: var(--color-primary);
      background: css-rgba(var(--color-primary__contrast--rgb), 0.5);
      outline: none;
    }
  }
}

.input--fill {
  flex: 1;
}

.form__errors {
  margin-bottom: 2em;
  ul {
    padding-left: 1.5em;
  }
}
