html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: var(--color-primary);
  background-image: url('../images/paisley.svg');
  background-blend-mode: overlay;
  color: var(--color-primary__contrast);
  font-family: $font-sans;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  border: none;
}

a:link {
  text-decoration: underline;

  .pt-menu &,
  &.pt-button {
    text-decoration: none;
  }
}
