.schedule {
  overflow-x: scroll;
  margin-right: -2rem;

  table {
    padding-right: 2rem;
    min-width: 900px;
  }
}

.schedule__time {
  position: relative;
  top: -10px;
  font-size: 14px;
  font-weight: 500;
}

.show_name {
  font-weight: 500;
}

.show_with {
  font-size: 14px;
}
