.playlist-item--song {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.song__metadata {
  display: flex;
  align-items: center;
}

.song__details {
  margin-bottom: 2px;
}

.song__time-string {
  width: 3.5rem;
  font-size: modular-scale(-1);
}

.song__album-art {
  display: inline-block;
  @include size(modular-scale(4));
  margin: 0 modular-scale(-1);
  background-color: #d8d8d8;
}

.song__artist,
.song__name,
.song__album,
.song__publishing-info {
  margin-right: 1em;
}

.song__name {
  font-weight: 500;
}

.song__album {
  font-style: italic;
}

.song__publishing-info {
  font-weight: 300;
  opacity: 0.8;
}
