@import '~trix/dist/trix';

trix-editor {
  background: white;
}

trix-toolbar {
  .trix-button {
    background: white;
  }
}

button.trix-button.trix-button--icon.trix-button--icon-code {
  display: none;
}

trix-editor:empty:not(:focus)::before {
  color: grey !important;
  white-space: pre-wrap;
}


.attachment__name, .attachment__size {
  display: none;
}

trix-editor {
  .attachment__name, .attachment__size {
    display: initial;
  }
}

.trix-button--icon-embed::before {
  background-image: url('../images/embed.png');
}