- unless @trainee.demotape.accepted?
  .field.padtop
    = label_tag "Submit a demo tape"
    %p.instructions
      When you have finished recording your demo tape in Prod C, upload the
      MP3 here so it can be reviewed.
    = file_field_tag 'filename'
