.event-day {
}

.event-date {
}

ul.events {
  list-style-type: none;
}

li.event {
  list-style-type: none;
  color: red;
}




.events-wrapper {
  display: flex;
  flex-direction: column;
}

.events-date-col {
  flex: 1;
}


.event-descriptions {
  flex: 6;
}


.events-day-wrapper {
  flex-direction: row;
}