.sub-board tbody tr td.active {
  border: 1px solid #bbb;
  padding: 0.25em;
  margin: 0;
  height: 6em;
}

.sub-req { margin-top: 0.25em; }
.sub-req:first-of-type { margin-top: 0; }

.req-day { margin: 0 }
.req-time {
  margin: 0;
  color: #bbb;
  font-style: italic;
  float: left;
  margin-top: -1px;
}
.req-name {
  margin: 0;
  margin-left: 2.25em;
  line-height: 1.1;
}

.sub-req-info {
  ul {
    border: solid 1pt #8fb913;
    background-color: #f9feec;
    padding: 0.25em;
    list-style: none;
    li {
      span:first-child { float: left; }
      span:last-child {
        display: block;
        margin-left: 5em;
      }
      blockquote {
        clear: left;
      }
    }
  }
}

blockquote {margin: 0 1em 0 2em; }

.edit_sub_request {
  margin-bottom: 0.5em;
}

.on-and-upcoming h4.small-caps-title {
  border-bottom: 1px solid #999;
}
