#wcbn-org-nav {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  font-family: Latoblack, Helvetica, Arial, sans-serif;
  font-weight: bold;
  min-width: 750px;
  display: table;
  z-index: 101;
}

.fixed-wcbn-org-nav{ position: fixed }

#wcbn-org-nav img {
  width: 132px;
  margin-right: 12px;
  display: table-cell;
  vertical-align: middle;
}

#wcbn-org-nav li {
  padding: 0px 8px;
  display: table-cell;
  vertical-align: middle;
}

#wcbn-org-nav li a {
  color: black;
  display: block;
  border: 3px solid black;
  text-align: center;
  padding: 8px 8px 5px;
  text-transform: uppercase;
  background-color: white;
}

#wcbn-org-nav li a:hover {
  color: gray;
  border: 3px solid gray;
  text-decoration: none;
}
