html.turbolinks-progress-bar::before {
  background-color: #FD7400  !important;
  height: 3px !important;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 12pt;
  font-weight: 500;
  overflow-x: hidden;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.container {
  width: 90%;
  margin: auto;
  min-width: 750px;
}
.dj-signed-in-container { padding-top: 2em; }

@-webkit-keyframes hiding {
  0% { top: -10em; }
  30% { top: -1em; }
  100% { top: -1em; }
}
@keyframes hiding {
  0% { top: -10em; }
  30% { top: -1em; }
  100% { top: -1em; }
}

.floating-notice {
  position: fixed;
  top: -10em;
  padding: 1.5em 1.5em 0.5em 1.5em;
  background-color: #C1E3F9;
  border: 1px solid #3498DB;
  border-radius: 0.5em;
  left: 30%;
  right: 30%;
  z-index: 200;
  font-weight: 900;
  text-align: center;
  p {
    margin: 0;
  }
  animation-name: hiding;
  animation-duration: 3s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  -webkit-animation-name: hiding;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-direction: alternate;
}

.floating-alert {
  @extend .floating-notice;
  border: 1px solid #D62816;
  background-color: #FFA79E;
}

#nav {
  margin: -8px;
  margin-bottom: 0px;
  min-width: 100%;
  position: absolute;
  z-index: 99;
  .right {
    float: right;
    padding: 0.2em 1em;
  }
}
#dj-signed-in-nav {
  @extend #nav;
  background-color: #FFEAD9;
  border-bottom: 1px solid #FF8C2A;
  .right {
    color: black;
  }
}
#dj-signed-out-nav {
  @extend #nav;
  .right {
    a {
      color: #FD7400;
      text-decoration: underline;
    }
  }
}

#headline {
  padding: 0 1.5em;
  padding-top: 1em;
  max-width:1200px;
  .back_link { padding-top: -1em; }
  h2 {
    margin-top: 0;
    font-style: normal;
  }
}

article {
  margin:auto;
  padding: 0 1.5em;
  max-width:1200px;
}
.with-sidebar{
  padding-top: 1em;
  margin-left: 16em !important;
}
.with-thin-sidebar{
  margin-left: 14em !important;
}
.with-thinner-sidebar{
  margin-left: 9em !important;
}
.scroll-up {
  padding-top: 2em;
}

.notice {
  padding: 0.3em 2.5em;
  margin: 0.5em 0;
  border: 1px solid #8eb021;
  background-color: #a5c63b;
  font-weight: 900;
  color: #FFF;
  text-align: center;
}
.alert,
#error_explanation{
  padding: 0.3em 2.5em;
  margin: 0.5em 0;
  border: 1px solid #c0392b;
  background-color: #e74c3c;
  font-weight: 900;
  color: #FFF;
  text-align: center;
  p {
    margin: 0;
  }
  h2 {
    color: #FFF;
    font-size: 1em;
  }
  ul {
    margin: 0;
    li { text-align: left }
  }
}

.sidebar {
  float: left;
  width: 15em;
  padding-top: 1em;
}
.sidebar-fixed{
  position: fixed;
  padding-top: 3.5em;
}
.fixed { position: fixed !important; }

.thin-sidebar {
  float: left;
  padding-top: 1.5em;
  width: 14em;
}
.thinner-sidebar {
  float: left;
  padding-top: 1.5em;
  width: 9em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
  color: #555;
  line-height: 1;
  margin-bottom: 0;
  letter-spacing: -0.02em;
}

/* The Sass "context" map */
$context-font: (
  showinfo: 0.85,
  show-notes: 0.7,
  dj-about: 0.8
);
$step-size-heading: 0.25;
@mixin heading-size($size) {
  font-size: $size * $step-size-heading + em;
}
@each $element, $value in $context-font {
  .#{$element} {
    h1 { @include heading-size(6 * $value); }
    h2 { @include heading-size(5 * $value); }
    h3 { @include heading-size(4 * $value); }
    h4 { @include heading-size(3 * $value); }
    h5 { @include heading-size(2 * $value); }
    h6 { @include heading-size(1 * $value); }
  }
}
.no-margin {margin: 0;}

.showinfo { margin: 0.5em 0; }
.showinfo h2 {
  margin-top: 0.5em;
  font-style: normal;
  color: #222;
}
.showinfo p { margin: 0; }
.showinfo .with {
  padding-left: 1.5em;
  font-style: italic;
}

a {
  color: #41A5E8;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.field {
  margin-bottom: 0.7em;
}
.field_with_errors {
  display: inline;
  label {
    padding: 0 0.2em;
    background-color: rgba(231, 76, 60, 0.72);
    margin-bottom: 1pt;
  }
  input {
    margin-top: 0.3em;
  }
}

label {
  font-weight: 300;
  font-style: italic;
}

.field input,
.field select {
  width: 100%;
  height: 2em;
  padding: none;
}
.field textarea {
  width: 100%;
  border: 1px solid #bbb;
}

.accent { color: #FD7400 !important; }
.bold { font-weight: 700; }
.italic { font-style: italic; }
.subtitle {
  margin-top: 0;
  color: #999;
  font-weight: 400;
}

.highlight { background-color: #ffe88a; }

.show-notes-box {
  color: #777;
  border: solid 1pt #8FB913;
  background-color: #F9FEEC;
  padding: 0.5em;
  margin: 0.5em auto 0.5em auto;
  max-width: 45em;
  h4 {
    margin: 0;
    display: inline-block;
    margin-right: 1em;
    color: #7f9932;
    font-size: 0.9em;
  }
  p {
    margin: 0.5em 0;
  }
  .show-notes {
    *:first-child {
      margin-top: 0;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  .show-notes.longform { padding: 0.5em 2em }
}
td > .show-notes-box {
  margin:0;
}

.longform {
  line-height: 1.35em;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  text-align: justify;
  img {
    float: right;
    max-width: 40%;
    margin-left: 1em;
  }
}
