.field-title {
  float: left;
  width: 85%;
}
.field-req {
  float: right;
  width: 10%;
}
.field-label {
  float: left;
  width: 66%;
}
.field-year {
  float: right;
  width: 26%;
}

article {
  padding: 1.5em;
  padding-top: 2em;
  margin-left: 20em;
}

table {
  width: 100%;
  max-width:1000px;
}
body > table { padding-top: 2em; }

thead {
  font-family: 'Alegreya', serif;
  font-weight: 900;
  font-style: italic;
  td {
    padding-bottom: 0.5em;
  }
}

tr.grey * { color: #999; }

#now td span {
  display: inline-block;
  padding-bottom: 1em;
  font-style: italic;
  font-weight: 700;
}

.delete-song {
  display: inline;
  float: left;
  margin-left: -1.5em;
  a {
    color: inherit;
    font-weight: 100;
    text-decoration: none;
  }
  a:hover {
    color: #e74c3c;
    font-weight: inherit;
  }
}

td {
  padding-bottom: 0.3em;
  height: 1.2em;
  vertical-align: top;
}

.width1{ width: 3em; }
.width2{ width: 6em; }
.width3{ width: 12em; }
.width4{ width: 15em; }
.bip-sized{
  width: 95%;
}

.time-col { min-width: 60px; }

.thin { font-weight: 300; }
.italic { font-style:italic; }
