table.schedule {
  thead {text-align: center;}
  th {
    vertical-align: top;
    text-align: right;
    min-width: 4em;
    width: 4em;
  }
  td.show {
    width: 7em;
    border: 1px solid #999;
  }
}

.show_name { font-style: italic; }
.show_with { font-size: 85%; }
