.tiled {
  border: 1px solid #BBB;

  width: 12em;
  padding: 0.1em 0.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  float: left;
}
.show-instance-links {
  margin-left: 1em;
  text-align: right;
}
