.playlist
  - unless items.empty?
    - items.each do |item|
      .playlist-item{ class: "playlist-item--#{item.model_name.singular}",
                      data: { at: item.at.to_json }}
        = render item
