-#%aside#globalMessage.fundraiser.subdued
  -#%h4 Fundraiser is coming!
  -#%p
    -#WCBN’s annual fundraiser starts on February 12 and runs for ten days. Please
    -#tune in and support student-run, experimental–experiential, freeform radio
    -#again this year.
%aside#globalMessage.fundraiser
  %h4 Donate to WCBN!
  %p WCBN’s annual fundraiser is running until February 21. Your support during these ten days puts new music on the shelf and fixes broken turntables; we need you for our day to day. We ask now that you “resubscribe” to the freeform radio that you love, and support the continued education and cultural enrichment of students at the University of Michigan.
  %ul{style: "list-style: circle;"}
    %li
      %a{href: "tel:+17347633500"} Call (734) 763–3500
    %li
      %a{href: "http://wcbn.org/donate"} Donate Online
    %li
      %a{href: "http://wcbn.org/donate"} View Gifts
