%aside#globalMessage.fundraiser.subdued
  %h4 Fundraiser is coming!
  %p
    WCBN’s annual fundraiser starts on February 12 and runs for ten days. Please
    tune in and support student-run, experimental–experiential, freeform radio
    again this year.
