%table.playlist
  - unless !on_fm_computer? || (defined?(iframe) && iframe)
    %thead
    - @future_items.each do |item|
      %tr.grey
        =render item
    %tr#now.grey{class: "dj-signed-#{dj_signed_in? ? "in" : "out"}-now"}
      %td{colspan: 6}
        ⇧
        %span Next up on WCBN (scroll up)
        ⇧
        %br
        ✏︎
        %span Edit the playlist by clicking on the mistaken text.
        ✏︎
        %br

  %thead
    - unless defined?(iframe) && iframe
      %td Time
      %td Artist
      %td Song Title
      %td Album
      %td Label
      %td Year
  = message_if_episode_has_no_songs(@on_air)
  - @past_items.each do |item|
    %tr
      =render item
    - if item.is_a? Episode
      - unless item.notes.blank?
        %tr
          %td{colspan: 6}
            = render 'episodes/shownotes', episode: item
      %thead
        %td Time
        %td Artist
        %td Song Title
        %td Album
        %td Label
        %td Year
      = message_if_episode_has_no_songs(item)
