- title "Playlist Input"

%aside.sidebar
  %a#now-button{href: "#now"}
    %span now
  %h1.accent Readback
  %p.subtitle The WCBN Database
  =render @on_air
  - if flash[:alert]
    .alert
      - flash[:alert].each do |err|
        =err
  = render 'songs/form' if dj_signed_in?  # NO NO NO! if on_fm_computer?
  %br
  = render 'episodes/shownotes', episode: @on_air, editable: dj_signed_in?  # NO NO NO!

%article.with-sidebar.scroll-up
  = render 'playlist'

-#<div style="position:absolute; text-align:right; border-top: 3px solid black;
-#margin-left: -215px; width: 200px;">This is a DJ comment! It should have a
-#maximum width, don't you think?</div>
