- title "Playlist"

.master-detail__container
  %main.master-detail__master
    = render 'playlist'
    -# TODO: #infinity{ data: { action:, from:, til: } }

  %aside.master-detail__detail
    = render 'application/sidebar'
