- title "Playlist Input"

%aside.sidebar{class: ("sidebar-fixed" if on_fm_computer?)}
  %a#now-button{href: "#now"}
    %span now
  = render 'episodes/upcoming_episodes'
  - if flash[:alert]
    .alert
      - Array(flash[:alert]).each do |err|
        =err
  = render 'songs/form' if on_fm_computer?
  %br
  = render 'episodes/shownotes', episode: @on_air, editable: on_fm_computer?

%article.with-sidebar{class: ('scroll-up' if on_fm_computer?)}
  = render 'playlist'

-#<div style="position:absolute; text-align:right; border-top: 3px solid black;
-#margin-left: -215px; width: 200px;">This is a DJ comment! It should have a
-#maximum width, don't you think?</div>
