- title "Playlist Input"

%aside.sidebar
  %h1.accent Readback
  %p.subtitle The WCBN Database
  =render @on_air
  - if flash[:alert]
    .alert
      - flash[:alert].each do |err|
        =err
  = render 'songs/form'
%article
  %table
    %thead
    - @future_items.each do |item|
      %tr.grey
        =render item
    %tr#now.grey
      %td{colspan: 6}
        ⇧
        %span Next up on WCBN
        ⇧
        %br
    %thead
      %td Time
      %td Artist
      %td Song Title
      %td Album
      %td Label
      %td Year
    - @past_items.each do |item|
      %tr
        =render item
      -if item.is_a? ShowInstance
        %thead
          %td Time
          %td Artist
          %td Song Title
          %td Album
          %td Label
          %td Year

-# Placeholder thing to ensure sufficient height to scroll up the
-# not-yet-happened things while there aren't enough songs in the db.
%div{style: "height:1000px"}

-#<div style="position:absolute; text-align:right; border-top: 3px solid black;
-#margin-left: -215px; width: 200px;">This is a DJ comment! It should have a
-#maximum width, don't you think?</div>
