%h2.kicker Episodes
.grid
  - show.episodes.reverse_each do |episode|
    .pt-card.pt-elevation-1.column.top-and-bottom
      .show__episode
        %time{ datetime: episode.at }
          = episode.date_string
          %br
          = episode.just_time_string


      = yield episode
