%h2.kicker Up Next

-# TODO: Set sidebar variables in a method ApplicationController called
-# explicitly when needed
= render Episode.on_air, tag: :div
= render Episode.on_air, tag: :div
= render Episode.on_air, tag: :div
