- user_nav_state = dj_signed_in? ? 'user-nav--active' : 'user-nav--inactive'
%nav.user-nav{ class: user_nav_state }
  .max-width-container
    - if dj_signed_in?
      = link_to 'Sub Board', sub_requests_path
      = link_to 'My Profile', current_dj
      = link_to 'Sign Out', destroy_dj_session_path, method: :delete

    - else
      = link_to 'DJ Sign In', new_dj_session_path
