:ruby
  title "New Schedule"
  headline "New Schedule Based on #{@model.start}"
  subtitle <<~MSG
    Hold Command (Ctrl) and select the shows to be copied to the new semester.
    MSG

- content_for :sidebar do
  = render "form"

= render @model, locals: {no_links: true}

:javascript
  $(".schedule").selectable({
    filter: ".show",
    stop: function() {
      var result = { FreeformShow: [], SpecialtyShow: [], TalkShow: [] };
      $(".ui-selected").each(function(i, e) {
        result[$(e).attr("data-show-type")].push(
          parseInt($(e).attr("data-show-id"))
        );
      });
      if ($(".ui-selected").length > 0) {
        $("#save_semester_submit").attr("disabled", false);
      } else {
        $("#save_semester_submit").attr("disabled", "disabled");
      }
      $("#shows_to_copy").val(JSON.stringify(result));
    }
  });
