- if defined?(locals) && locals[:no_links]
  .show_name=talk_show.name
- else
  .show_name
    = link_to talk_show.name, talk_show
- if talk_show.dj
  .show_with=raw "with #{link_to talk_show.dj, talk_show.dj}"
