<aside class="thin-sidebar">
<h1 class="accent">Readback</h1>
<p class="subtitle">The WCBN Database</p>
</aside>

<article class="thin-center">
<%= yield %>
</article>

<% parent_layout 'application' %>
